/* frontend/css/login.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.logo {
  width: 170px;  /* Adjust size as needed */
  height: auto;
}

.form-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.form-container p {
  color: #666;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.2s;
}

input:focus {
  border-color: #ffd200;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ffd200;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #ffd200;
}

.switch-link {
  margin-top: 10px;
  font-size: 14px;
}
.switch-link a {
  color: #ffd200;
  text-decoration: none;
  font-weight: 500;
}
