/* frontend/css/notifications.css */

.notifications-content {
    margin-top: 80px; /* Sesuaikan dengan tinggi header */
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .notification-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .notification-item p {
    font-size: 16px;
    margin: 0;
  }
  
  .notification-time {
    font-size: 12px;
    color: #888;
  }
  
    /* Footer untuk halaman profile */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ddd;
  }
  
  .footer p {
    margin: 0;
  }